rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Requests collection
    match /requests/{requestId} {
      allow create: if request.auth != null && request.resource.data.senderUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.senderUid == request.auth.uid;
    }
  }
} 